.hero {
    padding: 188px 0;
    background: #2e2f42;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto 48px;
    text-align: center;
    color: var(--white);
}

.button-order {
    background: var(--iris);
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-order:hover,
.button-order:focus {
    background-color: #404bbf;
}